* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Rye', serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1160px;
    height: 100%;
}

a {
    display: inline block;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

/* < !-- top-head-------------------- --> */
#top-head {
    background: #477018;
    padding: 15px 0;
}

.top-head {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* < !-- .....................header---------------------- --> */
#header {
    margin: 31px 0;
}

.all-head-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-head-detail h1 {
    color: #477018;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;

}

/* ,,,,,,,,,,,,,,,,,,,,,,middle ............. */
.all-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-list a {
    color: #282828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left {
    margin-right: 50px;
}

/* right */

.right-side-detail {
    position: relative;
}

.all-font {
    display: flex;
    align-items: center;
    font-size: 30px;

}

.all-font a {
    padding-left: 16px;
    color: gray;
}

.right-top {
    position: absolute;
    top: 0;
    left: 36%;
}

.right-top {
    width: 20px;
    height: 20px;


}

.right-top h4 {
    color: rgb(27, 26, 26);
    background-color: red;
    text-align: center;
    border-radius: 50%;
}

/* < !-- ////////////////Organic section-------------------------- --> */
#Organic-bcg {
    background-image: url(./image/1bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: top right;
}

.bcg-text {
    padding: 132px 0;
    justify-content: left;
}

.bcg-text h1 {
    color: #282828;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bcg-text h1 span {
    color: #F47606;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.all-p {
    margin-top: 20px;
}

.all-p p {
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;


}

.btn button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 14px 50px;
    border-radius: 10px;
    background: #477018;
    border: none;
    margin-top: 30px;
    transition: 4s all ease;
}

/* < !-- <section>Support 24/7</section>--> */
#Support-card {
    margin: 130px 0;
}

.all-support-card {
    display: flex;
    justify-content: space-between;
}

.card-one {
    border: 2px solid gainsboro;
    display: inline-block;
    padding: 88px 50px;
    border-radius: 8px;
    width: 267px;
    height: 320px;



}

.card-one a {
    font-size: 40px;
    color: black;
}

.card-one h1 {
    color: #282828;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
}

.card-one p {
    color: #676767;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* < !-- ----------------section Vegetables-------------------- --> */


.all-item-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}



.frist-pic img {
    width: 170px;
    height: 141px;
    border-radius: 10px;

}

.frist-pic h3 {
    color: #282828;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* < !-- ----------------section Featured Products------------------ --> */

.Featured-Product-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Featured-Product-top-left h1 {
    color: #282828;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Featured-Product-top-right h3 {
    color: #F47606;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;

}

.Featured-Product-top a {
    font-size: 10px;
    color: #F47606;
    margin: 0 auto;
    margin-left: 10px;
}

#Featured-Product {
    height: 100%;
    margin-bottom: 200px;
}

.Featured-Product-all-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 130px; */
}

.all-text-pic-detail {
    width: 364px;
    height: 450px;

}

.frist-img {
    position: relative;
    overflow: hidden;

}

.pic {}

.position-detail {
    display: none;
    position: absolute;
    bottom: 0;
    left: 100%;
    transition: 5s all ease-in;
}
.position-detail{
    
}
.position-detail a {
    font-size: 40px;
    margin-left: 27px;
   
    height: 60px;
        width: 60px;
        border-radius: 50%;
       color: #F47606;
    border-radius: 50%;
    
}

.frist-img:hover {
    filter: grayscale(100%);
}

.frist-img:hover .position-detail {
    display: block;

    left: 15%;
    bottom: 22px;
    transform: scaleX(50%);
    transition: 1s all ease-out;

}

.detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.detail img {
    margin-bottom: 12px;
}

.detail h3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 12px;
}

/* .< !-- ....................Why Choose Us <section></section>----------- --> */


.choose-top h1 {
    color: #282828;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 47px;
}

.all-choose-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.frist-choose-one {
    width: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frist-choose-one img {

    margin-bottom: 30px;
}

.frist-choose-one h1 {

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.frist-choose-one p {

    color: #676767;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}




/* < !-- section--------------------------Healthy---------------------- --> */

.bcg-img {
    background-image: url(./image/bcg\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bcg-text-detail {
    padding: 92px 104px;
}

.bcg-text-detail h1 {
    color: #282828;

    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bcg-text-detail p {
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.btn button:hover {
    background-color: tomato;
    color: black;
    transition: 1s all ease;
}

#Category-Product-top {
    margin-top: 137px;
}



.all-Category-Product-top-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.Category-Product-top-detail-right span a {
    margin-right: 20px;
    color: #F47606;
}

.second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.text-all-set {
    margin-bottom: 220px;
}

.position-detail a {
    color: black;
}

/* < !-- deal------------------------------ --> */

.all-deal-Product-top-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.all-deal-dertail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frist-deal {
    margin: 0 25px;
    width: 70px;
    height: 70px;
    padding: 4px 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    background-color: #F47606;
}

.second-deal {
    margin: 0 25px;
    width: 70px;
    height: 70px;
    padding: 4px 5px;
    display: inline;
    color: #F47606;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 5s all ease;
}

.second-deal:hover {
    background-color: tomato;
    transition: 1s all ease;
    color: #000;
}



.pic-bcg {
    background-image: url(./image/bcg3.png);
    margin-top: 50px;
    background-size: cover;

}

.all-top {
    margin-top: 130px;
    margin-bottom: 32px;
}
/* < !-- <section>eatured-Product</section>--> */
.top-text{
    margin-bottom: 50px;
}


/* < !-- section--------------------------Organic Fresh Vegetables---------------------- --> */


.img-decoration{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 57px;
}
.style-img{
    margin-top: 130px;
}
/* < !-- --------------------------------------section Testimonial---------------------- --> */
.fix-text{
    margin-top: 300px;
}

.all-side-text-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left-text-card{
    width: 558px;
        height: 422px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 78px 45px;
        
}
.left-text-card p{
    color: #676767;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 31px 0;
}

.short-card{
    display: flex;
    justify-content: left;
    align-items: center;
    

}
.left-card{
    margin-right: 20px;
}
.right-side-text-detail{
    padding: 0;
}
.right-card h3{
    color: #282828;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        
}
.right-card h4{
color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
}
.second-text{

    width: 558px;
        height: 200px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 24px 36px;
        margin-bottom: 14px;
    
}
.second-text p{

}
.short-card{
    justify-content: space-between;
}
.all-card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------------- */
.all-body{
    display: flex;
        justify-content: space-between;
        align-items: center;
        
}

.left-body{
    width: 50%;
}

.left-body img{
    width: 550px;
}

.right-body{
    background-color:rgb(161, 217, 240);
    padding: 20px;
}
.right-body h1{
    color: #282828;
        font-family: Inter;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.right-body h1 span{
    color: #F47606;
        font-family: Inter;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.right-body h1 strong{
    color: #06f41a;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.right-body p{
    color: #676767;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;---------------------
}







/* < !-- <section>Latest Blog</section>--> */
.Latest-Blog{
    margin-top: 130px;
}
.Latest-Blog h1{
color: #282828;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.all-footer-card{
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 370px;
}

.frist-footer-card{
    width: 364px;
        height: 216px;
       
    
}
.all-detail{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 23px;
}
.frist-footer-card span{
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
.frist-footer-card span a{
    margin: 0 10px;
    
}
.frist-footer-card span h3{
    color: #676767;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.frist-footer-card strong{
    display: flex;
        justify-content: center;
}
.frist-footer-card strong a{
    margin: 0 10px;
}
.frist-footer-card strong{
color: #676767;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h1{
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 307px;
    padding-bottom: 35px;
    margin: 0 24px;
}
.h1 h1{
color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    
}

.footer-end-off{
    box-shadow: rgba(88, 152, 216, 0.2) 0px 8px 24px;
        padding: 24px 36px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding: 30px;
}
.footer-end{
    box-shadow: rgba(88, 152, 216, 0.2) 0px 8px 24px;
        padding: 24px 36px;
    
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding: 30px;
}
span{
    margin-right: 20px;
}
.span a{
color: #000;
}
.span h3{
    color: #676767;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.strong strong a{
    color: #F47606;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}



/* -----------------------------------pic */
.img{
    width: 364px;
        height: 216px;
        
            background: linear-gradient(to right, rgb(128, 128, 214)51%, 67%), rgb(135, 169, 232), rgb(143, 235, 228);
}



/* !-- -------------------------------foooter--------------------------------- -->
*/
#footer{
    background-color: #000;
    padding: 120px 0;
}

.footer-all-body{
    display: flex;
    align-items: center;
justify-content: space-between;}
.left-text h1{
    color: #FFF;
        font-family: Rye;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.short-flex{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 35px 0;
}
.left-flex{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #477018;
    margin-right: 20px;
}
.left-flex a{
    font-size: 20px;
    color: #FFF;
    
    
}
.right-flex h3{
    color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        
}


/* .....middle-side-flex */
.middle-side-flex h1{
    color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      margin-bottom: 40px;
        
}

.all-list-flex{
    display: flex;
    flex-direction: column;
   

}
.all-list-flex a{
    color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        
}


.right-side-flex{
    position: relative;
}
.right-side-flex h2{
    color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 40px;
        
}
.right-side-flex p{
    color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 26px;
        margin-top: 15px;
        
}

.input input{
    padding: 14px 140px;
    border-radius: 8px;
}
.hover-btn{
    
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.hover-btn button{
    background-color: #F47606;
}